<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Description</title>
        <style>
		#h01{display:inline;
float:left;}
		#h02{display:inline;
float:right;}
		#h03{display:inline;
float:center;}

</style>
</head>
<body>
<h1 id="h01">Project Item Catalog</h1>


{%if status==False%}
<a href = "{{url_for('show_login')}}"><button id="h02">Login</button></a>

{%endif%}

{%if status==True%}
<a href = "{{url_for('gdisconnect')}}" methods="post"><button id="h02">Logout</button></a>
{%endif%}

<br><br><br><br>

<p> Item Name : {{item.name}} </p>
<p> Description : {{item.description}} </p>

<p>
    <a href = "{{url_for('edit_category_item', item_id = item.item_id )}}">Edit Item  </a>
    <a href ="{{url_for('delete_category_item',item_id = item.item_id )}}">  Delete</a></p>
</body>
</html>