<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
        <style>
		#h01{display:inline;
float:left;}
		#h02{display:inline;
float:right;}
		#h03{display:inline;
float:center;}

</style>
</head>
<body>

<h1 id="h01">Project Item Catalog</h1>


{%if status==False%}
<a href = "{{url_for('show_login')}}"><button id="h02">Login</button></a>

{%endif%}

{%if status==True%}
<a href = "{{url_for('gdisconnect')}}" methods="post"><button id="h02">Logout</button></a>
{%endif%}


<br><br><br><br><h2 >Category : {{category.name}}<br></h2>
<h3><a href = "{{url_for('delete_category', category_id=category.category_id)}}">Delete Category</a></h3>
<h3><a href = "{{url_for('new_category_item',category_id = category.category_id)}}"> Add Item </a></h3>

Items Available :
{% for item in items %}
<p ><a href = "{{url_for('show_item', item_id = item.item_id)}}">{{item.name}}</a></p>
{% endfor %}


</body>
</html>