<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    	    <style>
		#h01{display:inline;
float:left;}
		#h02{display:inline;
float:right;}
		#h03{display:inline;
float:center;}

</style>
</head>
<body>
<h1 id="h01">Project Item Catalog</h1>


{%if status==False%}
<a href = "{{url_for('show_login')}}"><button id="h02">Login</button></a>

{%endif%}

{%if status==True%}
<a href = "{{url_for('gdisconnect')}}" methods="post"><button id="h02">Logout</button></a>
{%endif%}

<br><br><br><br>

<p>Category : {{category.name}} </p>


<form action = "{{url_for('new_category_item',category_id = category.category_id)}}" method = 'POST' >
    <p>New Item Name : </p>
    <p><input type = 'text' size = '30' name = 'name' required></p>
    <p>Description : </p>
    <p><input type = 'text' size  = '250' name = 'description' required></p>
    <p><input type = 'submit' value = 'create'></p>
</form>
</body>
</html>